/* *{
  outline: 1px solid black;
} */

#profile__img{
  height: 110px;
  width: 110px;
  border-radius: 50%;
}
.profile-btn{
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-top: -17em;
  margin-right: 10em;
}
.btns{
  background-color: #EAECF0;
  padding: 1em 0em;
  margin-bottom: 1em;
}
.btns:hover{
  background-color: #d0d5dd;
  color: black;
}
.slack-img{
  width: 25px;
  height: 25px;
}
.contact-input{
  border: 1px solid black;
}
#check{
 accent-color: #000;
}

@media(max-width: 600px){
  .profile-btn{
    margin-right: 0em;
  }
  .share-btn{
    display: none
  }

}
