/* *{
  outline: 1px solid black;
} */

#profile_img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.btn{
  background-color: gainsboro;
  padding: 1em 0em;
  margin-bottom: 1em;
}
.btn:hover{
  background-color: grey;
  color: black;
}